.reference
  %h3
    = label(id, label)
  = text("#{id}_name", 'Name')
  = textarea_sm("#{id}_address", 'Address')
  = text("#{id}_phone", 'Phone')
  = text("#{id}_email", 'E-mail')
  = attachment("#{id}_letter", "Reference Letter")