.section
  %h2 Basic Information
  = text(:firstname, 'First Name')
  = text(:lastname, 'Surname')
  = date(:dob, 'Date of birth')
  = radio(:gender, 'Gender', ['Male', 'Female'])
  = radio(:marital, 'Marital Status', ['Single', 'Married'])
  = text(:ssn, 'Social Security # or ID #')
  = text(:nickname, 'What you like to be called (name you go by)')
  = textarea_sm(:address, 'Mailing Address')
  = text(:phone, 'Telephone')
  = text(:fax, 'Fax')
  = text(:email, 'E-mail')
  = select(:referrer, 'How did you hear about our ministry?', ['ACTS', 'African Encounter', 'Living Hope', 'Friend', 'I am a former volunteer', 'Through my local church', 'Internet Living Hope/Way/Grace', 'Internet ACTS', 'Internet African Encounter', 'Other'])

.section
  %h2 Preferred Dates
  %h4 Please indicate when you would like to visit. Since there are many factors involved in scheduling volunteers, please indicate your first, second, and third preferences for working with Living Hope. We have a minimum service time commitment of 30 days.
  = daterange(:dates1, 'First preference of dates')
  = daterange(:dates2, 'Second preference of dates')
  = daterange(:dates3, 'Third preference of dates')
  
.section
  %h2 Transport
  %h4 Please note that there is no public transportation in our area.
  = bool(:transport, 'Will you have your own transportation? (Do you plan to rent or purchase a car?)')
  = bool(:license, 'Do you have an international driver\'s license?')

.section
  %h2 Education
  = select(:educationlevel, 'Highest level of education completed', ['Some high school', 'High school diploma or equivalent', 'Some college', 'Associate Degree', 'Bachelor Degree', 'Advanced Degree'])
  = textarea_med(:schools, 'List any post-high school institutions attended, as well as the dates attended, degrees attained, and major/minor fields of study.')

.section
  %h2 Career History
  = text(:occupation, 'Present Occupation')
  = text(:employer, 'Company/Organization')
  = date(:datehired, 'Date Hired')
  = text(:employercontact, 'Contact & Phone')
  = textarea_med(:career, 'Briefly describe your career history and tell us how this relates to your ministry.')

.section
  %h2 Ministry
  = bool(:crosscultural, 'Do you have experience in cross-cultural ministry?')
  = textarea_lg(:travel, 'List the countries you have been to, including the dates, the organization(s) you traveled with, the types of ministry you were involved in, and any leadership positions you held.')
  = textarea_lg(:ministry, 'List any other formal ministry experience you have had and leadership positions you have held. For each, list the organization/church, responsibilities, and dates.')

.section
  %h2 Church
  = text(:church, 'Name of your home church')
  = textarea_sm(:churchaddress, 'Address')
  = text(:churchphone, 'Phone')
  = text(:pastor, 'Senior Pastor')
  = text(:attendance, 'Length of time in attendance')
  = textarea_med(:involvement, 'Describe your involvement')

.section
  %h2 Health
  = boolplus(:healthissues, 'Do you have any physical handicaps, disabilities, or diseases that might affect your ability to fully function in remote areas or harsh conditions?')
  = boolplus(:chronicconditions, 'Do you have any chronic illnesses or allergies?')
  = boolplus(:foodallergies, 'Do you have any food or drug related allergies?')
  = boolplus(:otherhealth, 'Do you have any other medical problems that we should be aware of?')

.section
  %h2 Personal History
  = boolplus(:alcoholdrugs, 'Do you use alcohol or drugs?')

.section
  %h2 Biographical Information
  = textarea_med(:conversion, 'How and when did you become a Christian?')
  = textarea_med(:lifechange, 'Describe how your life has changed.')
  = textarea_lg(:history, 'Please write a brief overview of your personal history (where you grew up, childhood experiences, and how these affect your life now).')
  = textarea_med(:strength, 'What would others say is your strongest quality, and why?')
  = textarea_med(:weakness, 'What would others say is your weakest quality, and why?')
  = textarea_med(:submission, 'When do you find it difficult to submit to others?')
  = textarea_lg(:churchhistory, 'Describe your personal church history (various ones you\'ve attended, why you switched, etc.).')
  = textarea_lg(:faith, 'Describe your personal "statement of faith." What do you believe?')
  = textarea_med(:southafrica, 'Do you feel specifically called to South Africa? Explain.')
  = textarea_med(:fiveyearplan, 'Where do you want to be in five years? What is your personal vision for your life and ministry?')
  = textarea_lg(:calling, 'Explain how and why you feel God is calling you to be part of Living Hope. Also include what area of ministry you would specifically like to get involved in and how you see yourself fitting in.')
  = checkbox(:gifts, 'Please check all areas you consider yourself gifted in', ['Sports', 'Administration', 'Children', 'Healthcare', 'Photography', 'Landscaping', 'Construction or Maintenance', 'Music', 'Schoolteacher'])
  = textarea_sm(:leadgifts, 'Of the areas you checked, please note which ones you would consider yourself strong enough to lead a team in projects within this area.')

.section
  %h2 Volunteer Positions
  %div(style='color:red') TODO

.section
  %h2 References
  %h4
    Please list four people we can contact as references. They must include your pastor, a friend, your employer, and one other person in leadership over you.
    %strong
      Please submit a reference letter from at least two of those people together with your application.
      %span(style='color:red') TODO
  = reference(:pastor, 'Pastor Reference')
  = reference(:friend, 'Friend Reference')
  = reference(:employer, 'Employer Reference')
  = reference(:leader, 'Other Leadership Reference')

.section
  %h2 Emergency Information
  = text(:emcontact, 'Emergency Contact Name')
  = text(:emrelationship, 'Relationship')
  = text(:emphone1, 'Phone Number')
  = text(:emphone2, 'Alternate Phone Number')

.section
  %h2 Comments/Concerns
  = textarea_lg(:comments, 'Please note any additional comments or concerns you have.')

.section
  %h2 Application Commitment
  .commitment
    %p I hereby commit myself to serving with FHBCCT (should my application be accepted) in whichever area I am designated by Management. I understand that I am a volunteer and that I will not be receiving any financial reimbursement for the work that I do while at FHBCCT. I commit myself to abide by the policies and procedures of the FHBCCT and to the mission, aims and objectives of the organization.
    = text(:signature, 'Signature (type your full name)')
    = text(:signaturedate, 'Today\'s Date')

.section
  %h2 Statement of Faith
  .statementoffaith
