-require 'cgi'
.field
  - if label
    = label(id, label, :required => required)
    %br
    
  %div.nofile{:id => "#{id}-nofile"}
    %span
      %i (None attached)
    %button{:id => "#{id}-attach", :type => 'button'}
      Attach File
      
  %div.hasfile{:id => "#{id}-hasfile"}
    %a{:id => "#{id}-link", :href => "#", :target => '_blank'}
    %button{:id => "#{id}-remove", :type => 'button', :onclick => "javascript:if (detach_file('#{id}')) {$('##{id}-nofile').get(0).style.display = 'inline'; $('##{id}-hasfile').get(0).style.display = 'none'; }"}
      Remove File
      
  :javascript
    load_handlers.push(function(info) {
      var val = info['#{id}'];
      var link = $('##{id}-link').get(0);
      link.href = "<?php echo site_url('apply/download/#{id}') ?>"; // TODO
      if (val) {
        link.innerText = val['name'];
        $('##{id}-nofile').get(0).style.display = 'none';
        $('##{id}-hasfile').get(0).style.display = 'inline';
      }
      else {
        $('##{id}-nofile').get(0).style.display = 'inline';
        $('##{id}-hasfile').get(0).style.display = 'none';
      }
    });
    save_handlers.push(function(info) {
      // info['#{id}'] = value;
    });
    $('##{id}-attach').get(0).onclick = function() {
      $('#fileuploaddiv').dialog({height: 150, width: 320, modal: true, title: "Upload File"});
      $('#fileuploadframe').get(0).src = "<?php echo site_url('apply/attach/#{id}'); ?>";
    };
  - if required
    :javascript
      validation_handlers.push(function(info) {
        if ($('##{id}-nofile').css('display') != 'none')
        {
          error_field_required('#{id}');
          return false;
        }
        return true;
      });