%div{ :class => config[:indent] ? 'field indent' : 'field' }
  = label(id, label, :required => required)
  - if not config[:inline]
    %br
  %input{:name=>id, :id=>id, :type=>(defined?(inputtype) ? inputtype : "text")}
  - if config[:detail]
    .detail
      = config[:detail]
  :javascript
    load_handlers.push(function (info) {
      var val = info['#{id}'] || '';
      $('##{id}').get(0).value = val;
    });
    save_handlers.push(function (info, form) {
      info['#{id}'] = $('##{id}').get(0).value;
    });
  = default_validation(id, required)