.field
  = label(id, label, :required => required)
  %br
  %input{:name=>id, :id=>id, :type=>(defined?(inputtype) ? inputtype : "text")}
  :javascript
    load_handlers.push(function (info) {
      var val = info['#{id}'] || '';
      $('##{id}').get(0).value = val;
    });
    save_handlers.push(function (info, form) {
      info['#{id}'] = $('##{id}').get(0).value;
    });
  = default_validation(id, required)