.section
  %h2 Church
  = text(:church, 'Name of your home church', :required => true)
  = textarea_sm(:churchaddress, 'Address', :required => true)
  = text(:churchphone, 'Phone', :required => true)
  = text(:pastor, 'Senior Pastor', :required => true)
  = text(:attendance, 'Length of time in attendance', :required => true)
  = textarea_med(:involvement, 'Describe your involvement')

.section
  %h2 Health
  = boolplus(:healthissues, 'Do you have any physical handicaps, disabilities, or diseases that might affect your ability to fully function in remote areas or harsh conditions?', :required => true)
  = boolplus(:chronicconditions, 'Do you have any chronic illnesses or allergies?', :required => true)
  = boolplus(:foodallergies, 'Do you have any food or drug related allergies?', :required => true)
  = boolplus(:otherhealth, 'Do you have any other medical problems that we should be aware of?', :required => true)

.section
  %h2 Personal History
  = boolplus(:alcoholdrugs, 'Do you use alcohol or drugs?')