.section
  %h2 Comments/Concerns
  = textarea_lg(:comments, 'Please note any additional comments or concerns you have.')

.section
  %h2 Application Commitment
  .commitment
    %p I hereby commit myself to serving with FHBCCT (should my application be accepted) in whichever area I am designated by Management. I understand that I am a volunteer and that I will not be receiving any financial reimbursement for the work that I do while at FHBCCT. I commit myself to abide by the policies and procedures of the FHBCCT and to the mission, aims and objectives of the organization.
    = text(:signature, 'Signature (type your full name)', :required => true)
    = text(:signaturedate, 'Today\'s Date', :required => true)

.section
  %h2 Statement of Faith
  .faith
    %p
      I, the undersigned, a volunteer within the Fish Hoek Baptist Church Community Trust (FHBCCT), do hereby acknowledge that FHBCCT is a Christian faith-based organization and further acknowledge that the statement of faith detailed below is the basic declaration of the beliefs agreed to and held by this ministry. I agree that I will in no way, whether by word or deed, do anything contrary to or in opposition to this statement of faith while I am engaged in any activity associated with FHBCCT as a volunteer. Any violation of this agreement will result in my immediate disassociation from the FHBCCT as a volunteer.
    %h3 Statement of Faith
    %p
      We believe in the Triune God, the Father, the Son, and the Holy Spirit. We believe that the Bible is inspired by the Holy Spirit in all its statements.
    %p Therefore we confess:
    %ul
      %li God the Father is creator and preserver of all.
      %li Jesus Christ, true man and true God, is the Son of God. He is born of the virgin Mary and He has substitutionarily shed His blood on the cross for the sins of the whole world. He is bodily resurrected and has returned into the glory of God. He sits at the right hand of God and will manifestly return.
      %li God has sent His Holy Spirit into the world, so that He might open the eyes of man in respect of sin, and of righteousness and of judgment and that He may reveal the whole divine truth to God's redeemed.
      %li Human nature is sinful. Only owing to redemption through the blood of Jesus can man by conversion and him being born again be justified before God.
      %li The redeemed will rise from the dead in glory to eternal life; those who are not redeemed will pass into everlasting destruction.
      %li All those who are born-again constitute the Church, the "Body of Christ".
      %li For the Church missionary command of Jesus is valid and binding: "Go therefore to all nations and make disciples, baptizing them in the name of the Father, and of the Son, and of the Holy Spirit: teaching them to observe all things I have command you." (Matthew 28:19-20)
    = text(:signature2, 'Signature (type your full name)', :required => true)
    = text(:signaturedate2, 'Today\'s Date', :required => true)

.section
  %h2 Volunteer Worker Indemnity
  .indemnity
    %p
      I, the undersigned, a volunteer within the Fish Hoek Baptist Church Community Trust, do hereby acknowledge and confirm that:
    %ol
      %li
        I, my heirs, executors or assigns, indemnify and hold harmless the Fish Hoek Baptist Church Community Trust (FHBCCT) which trades as Living Hope Community Centre, Living Way, Living Grace, et.al., and its trustees, officers, employees, and partners against any injury, illness, harm, loss, consequential loss, damage or damages of whatsoever nature that I may sustain or suffer as a result of my decision to do volunteer work within FHBCCT as set out above, and arising out of any cause whatsoever nature, including but not limited to negligence, and howsoever arising.
      %li If voluntary worker is under 21 (twenty-one) years of age, this Indemnity is to be signed by the individual's natural legal guardian.
    = text(:signature3, 'Signature (volunteer or parent/guardian, type full name)', :required => true)
    = text(:signaturedate3, 'Today\'s Date', :required => true)
    = text(:indemnitywitness1, 'Signature of Witness 1', :required => true)
    = text(:indemnitywitness2, 'Signature of Witness 2', :required => true)
