.section
  %h2 Biographical Information
  = textarea_med(:conversion, 'How and when did you become a Christian?', :required => true)
  = textarea_med(:lifechange, 'Describe how your life has changed.', :required => true)
  = textarea_lg(:history, 'Please write a brief overview of your personal history (where you grew up, childhood experiences, and how these affect your life now).', :required => true)
  = textarea_med(:strength, 'What would others say is your strongest quality, and why?', :required => true)
  = textarea_med(:weakness, 'What would others say is your weakest quality, and why?', :required => true)
  = textarea_med(:submission, 'When do you find it difficult to submit to others?', :required => true)
  = textarea_lg(:churchhistory, 'Describe your personal church history (various ones you\'ve attended, why you switched, etc.).', :required => true)
  = textarea_lg(:faith, 'Describe your personal "statement of faith." What do you believe?', :required => true)
  = textarea_med(:southafrica, 'Do you feel specifically called to South Africa? Explain.', :required => true)
  = textarea_lg(:calling, 'Explain how and why you feel God is calling you to be part of Living Hope. Also include what area of ministry you would specifically like to get involved in and how you see yourself fitting in.', :required => true)
  = checkbox(:gifts, 'Please check all areas you consider yourself gifted in', ['Sports', 'Administration', 'Children', 'Healthcare', 'Photography', 'Landscaping', 'Construction or Maintenance', 'Music', 'Schoolteacher', 'Prayer', 'Counseling', 'Reading', 'Computer', 'Journalism', 'Sewing'], :required => true, :other => true)
  = textarea_sm(:leadgifts, 'Of the areas you checked, please note which ones you would consider yourself strong enough to lead a team in projects within this area.', :required => true)

.section
  %h2 Volunteer Positions
  = textarea_med(:positions, 'Please list your top three choices for volunteer positions.', :required => true)
